@import "tailwindcss";
@config "../tailwind.config.js";  

.main-container{
  max-width: 960px;
  width: 100%;  
  padding: 0;
  margin-top: 20px;
}


/* Custom styling for AntD Select */
.custom-select .ant-select-selector{
  min-height: 56px !important;
  display: flex !important;
  align-items: center !important;
  /* padding-top: 15px !important; */
  padding-bottom: 0 !important;
  border-radius: 12px;
}

/* Ensure placeholder is vertically centered */
.custom-select .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 16px;
}   

/* Optional: tag style (for selected options) */
.custom-select .ant-select-selection-item {
  display: flex;
  align-items: center;
  height: 32px; /* adjust tag height if needed */
  text-align: left;
  font-size: 16px;
}


